force-app/main/default/flows/Apply_for_a_juggling_license.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Address_Variables</name>
        <label>Address Variables</label>
        <locationX>759</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>varAddressLine1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address1.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddressLine2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address2.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPostcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>postcode.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTownOrCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>townOrCity.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_balls</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Confirmation_Values</name>
        <label>Assign Confirmation Values</label>
        <locationX>2189</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>colDestinations</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>colDestinations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colLabels</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>colLabels</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colValues</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>colValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colDestinations</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CHANGE_PERSONAL_DETAILS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colDestinations</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CHANGE_PERSONAL_DETAILS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Email address</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEmailAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colDestinations</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CHANGE_ADDRESS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Address</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formFullAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colDestinations</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CHANGE_NO_OF_BALLS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Number of balls</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNumberOfBalls</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colDestinations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPlanningToStartDestination</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Date planning to start</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPlanningToStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colDestinations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varStartedDateDestination</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Date started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varStartedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colDestinations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varImpressiveTrickDestination</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Impressive Trick</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varImpressiveTrick</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Answers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Date_Started</name>
        <label>Assign Date Started</label>
        <locationX>1656</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>varStartedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateStarted.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Impressive_Trick</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Impressive_Trick</name>
        <label>Assign Impressive Trick</label>
        <locationX>1979</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>varPlanningToStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStartedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStartedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varImpressiveTrick</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>impressiveTrickTextArea.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlanningToStartDestination</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStartedDateDestination</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CHANGE_DATE_STARTED</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varImpressiveTrickDestination</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CHANGE_IMPRESSIVE_TRICK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Confirmation_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Personal_Details</name>
        <label>Assign Personal Details</label>
        <locationX>443</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>varForename</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forenameTextInput.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSurname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>surnameTextInput.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emailTextInput.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Planning_to_Start</name>
        <label>Assign Planning to Start</label>
        <locationX>1756</locationX>
        <locationY>261</locationY>
        <assignmentItems>
            <assignToReference>varPlanningToStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>datePlanningToStart.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStartedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not applicable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varImpressiveTrick</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not applicable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlanningToStartDestination</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CHANGE_PLAN_TO_START</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStartedDateDestination</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varImpressiveTrickDestination</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Confirmation_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_of_balls_assignment</name>
        <label>Number of balls</label>
        <locationX>1071</locationX>
        <locationY>303</locationY>
        <assignmentItems>
            <assignToReference>varNumberOfBalls</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>radiosNoOfBalls.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Can_they_juggle</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Can_they_juggle</name>
        <label>Can they juggle?</label>
        <locationX>1242</locationX>
        <locationY>394</locationY>
        <defaultConnector>
            <targetReference>Planning_To_Start_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes, they can</defaultConnectorLabel>
        <rules>
            <name>No_they_cannot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumberOfBalls</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Planning_To_Start</targetReference>
            </connector>
            <label>No, they cannot</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_Required</name>
        <label>Change Required?</label>
        <locationX>1244</locationX>
        <locationY>994</locationY>
        <defaultConnector>
            <targetReference>Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_Personal_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>summaryCheckYourAnswers.destination</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHANGE_PERSONAL_DETAILS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Personal_Details</targetReference>
            </connector>
            <label>Change Personal Details</label>
        </rules>
        <rules>
            <name>Change_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>summaryCheckYourAnswers.destination</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHANGE_ADDRESS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Address</targetReference>
            </connector>
            <label>Change Address</label>
        </rules>
        <rules>
            <name>Change_number_of_balls</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>summaryCheckYourAnswers.destination</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHANGE_NO_OF_BALLS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Number_of_balls</targetReference>
            </connector>
            <label>Change number of balls</label>
        </rules>
        <rules>
            <name>Change_planning_to_start_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>summaryCheckYourAnswers.destination</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHANGE_PLAN_TO_START</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Planning_To_Start</targetReference>
            </connector>
            <label>Change planning to start date</label>
        </rules>
        <rules>
            <name>Change_Start_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>summaryCheckYourAnswers.destination</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHANGE_DATE_STARTED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Planning_To_Start_0</targetReference>
            </connector>
            <label>Change Start Date</label>
        </rules>
        <rules>
            <name>Change_Impressive_Trick</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>summaryCheckYourAnswers.destination</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHANGE_IMPRESSIVE_TRICK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Impressive_Trick</targetReference>
            </connector>
            <label>Change Impressive Trick</label>
        </rules>
    </decisions>
    <formulas>
        <name>formFullAddress</name>
        <dataType>String</dataType>
        <expression>{!varAddressLine1} + &quot;,&quot; + {!varAddressLine2} + IF({!varAddressLine2} == &quot;&quot;, &quot;&quot;, &quot;,&quot;) + {!varTownOrCity} + &quot;,&quot; + {!varTownOrCity} +IF({!varPostcode} = &quot;&quot;, &quot;&quot;, &quot;,&quot;) + {!varPostcode}</expression>
    </formulas>
    <formulas>
        <name>formFullName</name>
        <dataType>String</dataType>
        <expression>{!varForename} + &quot; &quot; + {!varSurname}</expression>
    </formulas>
    <interviewLabel>Apply for a juggling license {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Apply for a juggling license</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Address</name>
        <label>Address</label>
        <locationX>600</locationX>
        <locationY>305</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Address_Variables</targetReference>
        </connector>
        <fields>
            <name>addressBackButton</name>
            <extensionName>c:govBackButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>backOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>errorMessagesAddress</name>
            <extensionName>c:govErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>markupAddress</name>
            <extensionName>c:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h2 class=&apos;govuk-heading-l&apos;&gt;Where do you live?&lt;/h2&gt;
&lt;p class=&apos;govuk-body&apos;&gt;We need to know which juggling community to add you to. Please let us know what your current address is.&lt;/p&gt;
</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>address1</name>
            <extensionName>c:govTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>length</name>
                <value>
                    <stringValue>20</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>please enter a value</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>Address line 1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Address Line 1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varAddressLine1</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>address2</name>
            <extensionName>c:govTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>length</name>
                <value>
                    <stringValue>20</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Address Line 2 (optional)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varAddressLine2</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>townOrCity</name>
            <extensionName>c:govTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>length</name>
                <value>
                    <stringValue>20</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>please enter a value</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>Town or city</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Town or city</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varTownOrCity</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>postcode</name>
            <extensionName>c:govTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>length</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>please enter a value</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>Postcode</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Postcode</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varPostcode</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>navButtonsAddress</name>
            <extensionName>c:govNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Cancel,Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Cancel,Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Right,Right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Grey,Green</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>separatorAddress2</name>
            <extensionName>c:govSeparator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isVisible</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>xlarge</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Check_Answers</name>
        <label>Check Answers</label>
        <locationX>1946</locationX>
        <locationY>951</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Change_Required</targetReference>
        </connector>
        <fields>
            <name>backButtonCheckAnswers</name>
            <extensionName>c:govBackButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>summaryCheckYourAnswers</name>
            <extensionName>c:govSummary</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>confirmationDestinations</name>
                <value>
                    <elementReference>colDestinations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>confirmationLabels</name>
                <value>
                    <elementReference>colLabels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>confirmationValues</name>
                <value>
                    <elementReference>colValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>instructionsHTML</name>
                <value>
                    <stringValue>&lt;h2 class=&quot;govuk-heading-l&quot;&gt;Check you answers&lt;/h2&gt; &lt;p class=&quot;govuk-body&quot; style=&quot;padding-bottom:20px;&quot;&gt;Thank you for all the information. Please check your answers and     click the change link if the information is not correct. Click submit to create your juggling application.&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sectionName</name>
                <value>
                    <stringValue>Juggling application</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Complete your application</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>navigationButtonsCheckYourAnswers</name>
            <extensionName>c:govNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Cancel,Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Cancel,Submit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Right,Right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Grey,Green</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>2125</locationX>
        <locationY>1103</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>confirmationPanel</name>
            <extensionName>c:govPanel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <stringValue>Application Complete</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bodyText</name>
                <value>
                    <stringValue>Thank you for using this service.  We now have all the details required to process your juggling application.  We will send you an email informing you of the decision shortly.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>navigationButtonsConfirmation</name>
            <extensionName>c:govNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Finish</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Finish</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Green</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Impressive_Trick</name>
        <label>Impressive Trick</label>
        <locationX>1809</locationX>
        <locationY>523</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Impressive_Trick</targetReference>
        </connector>
        <fields>
            <name>backButtonImpressiveTrick</name>
            <extensionName>c:govBackButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>errorMessagesImpressiveTrick</name>
            <extensionName>c:govErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>markupImpressiveTrick</name>
            <extensionName>c:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h2 class=&apos;govuk-heading-l&apos;&gt;Most impressive trick&lt;/h2&gt;
&lt;p class=&apos;govuk-body&apos;&gt;Please let us know what your most impressive juggling trick is.&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>impressiveTrickTextArea</name>
            <extensionName>c:govTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>enter a value</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>Impressive Trick</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Impressive Trick</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varImpressiveTrick</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>navigationButtonsImpressiveTrick</name>
            <extensionName>c:govNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Cancel,Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Cancel,Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Right,Right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Grey,Green</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Number_of_balls</name>
        <label>Number of balls</label>
        <locationX>913</locationX>
        <locationY>304</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Number_of_balls_assignment</targetReference>
        </connector>
        <fields>
            <name>backButtonNoOfBalls</name>
            <extensionName>c:govBackButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>errorMessagesNoOfBalls</name>
            <extensionName>c:govErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>markupNoOfBalls</name>
            <extensionName>c:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h2 class=&apos;govuk-heading-l&apos;&gt;How well can you juggle?&lt;/h2&gt;
&lt;p class=&apos;govuk-body&apos;&gt;It is important that we know how well you can juggling. Please let us know how many balls you can currently juggle.&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>radiosNoOfBalls</name>
            <extensionName>c:govRadios</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>please select a value</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>Number of balls</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Number of Balls</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hint</name>
                <value>
                    <stringValue>Please select the number of balls you can currently juggle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioLabels</name>
                <value>
                    <stringValue>None,One,Two,Three</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioValues</name>
                <value>
                    <stringValue>None,One,Two,Three</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varNumberOfBalls</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>navButtonsNoOfBalls</name>
            <extensionName>c:govNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Cancel,Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Cancel,Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Right,Right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Grey,Green</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Personal_Details</name>
        <label>Personal Details</label>
        <locationX>262</locationX>
        <locationY>416</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Personal_Details</targetReference>
        </connector>
        <fields>
            <name>backButton</name>
            <extensionName>c:govBackButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>destination</name>
                <value>
                    <stringValue>Home</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>backOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>errorMessagesName</name>
            <extensionName>c:govErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>markupTextPersonalDetails</name>
            <extensionName>c:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h2 class=&apos;govuk-heading-l&apos;&gt;Personal Details&lt;/h2&gt;

&lt;p class=&apos;govuk-body&apos;&gt;We will use your personal details to contact you about the progress of your juggling license application.  We do not share your information with any other individual or organisation.&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>forenameTextInput</name>
            <extensionName>c:govTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>length</name>
                <value>
                    <stringValue>20</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>enter a value</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>Forename</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Forename</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varForename</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>surnameTextInput</name>
            <extensionName>c:govTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>length</name>
                <value>
                    <stringValue>20</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>enter a value</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>Surname</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Surname</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varSurname</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>emailTextInput</name>
            <extensionName>c:govTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>length</name>
                <value>
                    <stringValue>20</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>enter a value</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>Email Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varEmailAddress</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>navigationButtonsName</name>
            <extensionName>c:govNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Cancel,Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Cancel,Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Right,Right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Grey,Green</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>separatorPersonDetails</name>
            <extensionName>c:govSeparator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>xlarge</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isVisible</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Planning_To_Start</name>
        <label>Planning To Start</label>
        <locationX>1526</locationX>
        <locationY>261</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Planning_to_Start</targetReference>
        </connector>
        <fields>
            <name>backButtonPlanningToStart</name>
            <extensionName>c:govBackButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>errorMessagesPlanningToStart</name>
            <extensionName>c:govErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>markupPlanningToStart</name>
            <extensionName>c:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h2 class=&apos;govuk-heading-l&apos;&gt;When are you planning to start?&lt;/h2&gt;
&lt;p class=&apos;govuk-body&apos;&gt;We are pleased to hear you are interesting in learning to juggle.  When do you plan to start?&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>datePlanningToStart</name>
            <extensionName>c:govDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>Planning to start date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>When are you planning to start juggling?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varPlanningToStartDate</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>navigationButtonsPlanningToStart</name>
            <extensionName>c:govNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Cancel,Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Cancel,Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Right,Right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Grey,Green</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Planning_To_Start_0</name>
        <label>When started</label>
        <locationX>1456</locationX>
        <locationY>503</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Date_Started</targetReference>
        </connector>
        <fields>
            <name>backButtonPlanningToStart_0</name>
            <extensionName>c:govBackButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>errorMessagesPlanningToStart_0</name>
            <extensionName>c:govErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>markupDateStarted</name>
            <extensionName>c:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h2 class=&quot;govuk-heading-l&quot;&gt;When did you start juggling?&lt;/h2&gt;
&lt;p class=&quot;govuk-body&quot; style=&quot;padding-bottom:20px;&quot;&gt;It is great that you can already juggle. When did you start?&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dateStarted</name>
            <extensionName>c:govDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>Date started</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>When did you start juggling?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varStartedDate</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>navigationButtonsPlanningToStart_0</name>
            <extensionName>c:govNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Cancel,Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Cancel,Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Right,Right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Grey,Green</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Personal_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colDestinations</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colLabels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAddressLine1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAddressLine2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varForename</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varImpressiveTrick</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varImpressiveTrickDestination</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumberOfBalls</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPlanningToStartDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPlanningToStartDestination</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPostcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStartedDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStartedDateDestination</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSurname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTownOrCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
