force-app/main/default/flows/UXGOVUK_Juggling_License.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Balls</name>
        <label>Assign number of balls</label>
        <locationX>569</locationX>
        <locationY>115</locationY>
        <assignmentItems>
            <assignToReference>New_Application.Number_of_Balls__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Balls.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Can_they_juggle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Date_Started</name>
        <label>Assign date started</label>
        <locationX>908</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>New_Application.Date_started_juggling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>date_started_converted2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>trick_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Date_To_Start</name>
        <label>Assign date to start</label>
        <locationX>1003</locationX>
        <locationY>247</locationY>
        <assignmentItems>
            <assignToReference>New_Application.Date_to_start_juggling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_to_start_converted2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Summary_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Personal_Details</name>
        <label>Assign personal details</label>
        <locationX>305</locationX>
        <locationY>184</locationY>
        <assignmentItems>
            <assignToReference>New_Application.forename__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Forename.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Application.surname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Surname.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Application.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Address.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Application.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application_Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_balls_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Clear all values before assigning to allow multiple changes.</description>
        <name>Assign_Summary_List</name>
        <label>Assign Summary (can not juggle)</label>
        <locationX>1288</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>Destinations</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Destinations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Labels</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Labels</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Values</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Values</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinations</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>GOTO_PERSONAL_DETAILS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Full name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Values</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Full_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinations</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>GOTO_PERSONAL_DETAILS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Email address</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Values</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Application.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinations</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>GOTO_NUMBER_OF_BALLS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Number of balls</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Values</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Application.Number_of_Balls__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinations</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>GOTO_DATE_TO_START</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Date planning to start</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Values</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>date_to_start.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Clear all values before assigning to allow multiple changes.</description>
        <name>Assign_Summary_List_1</name>
        <label>Assign Summary (can juggle)</label>
        <locationX>1297</locationX>
        <locationY>583</locationY>
        <assignmentItems>
            <assignToReference>Destinations</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Destinations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Labels</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Labels</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Values</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Values</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinations</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>GOTO_PERSONAL_DETAILS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Full name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Values</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Full_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinations</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>GOTO_PERSONAL_DETAILS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Email address</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Values</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Application.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinations</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>GOTO_NUMBER_OF_BALLS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Number of balls</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Values</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Application.Number_of_Balls__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinations</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>GOTO_DATE_STARTED</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Date started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Values</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>date_started.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinations</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>GOTO_IMPRESSIVE_TRICK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Impressive trick</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Values</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Application.Most_impressive_trick__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_trick</name>
        <label>Assign trick</label>
        <locationX>1163</locationX>
        <locationY>499</locationY>
        <assignmentItems>
            <assignToReference>New_Application.Most_impressive_trick__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>impressive_trick.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Summary_List_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Can_they_juggle</name>
        <label>Can they juggle?</label>
        <locationX>730</locationX>
        <locationY>74</locationY>
        <defaultConnector>
            <targetReference>start_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Can not juggle</defaultConnectorLabel>
        <rules>
            <name>can_juggle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Application.Number_of_Balls__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>started_screen</targetReference>
            </connector>
            <label>Can juggle</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change</name>
        <label>Change?</label>
        <locationX>584</locationX>
        <locationY>625</locationY>
        <defaultConnector>
            <targetReference>Create_application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_personal_details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SELECTED_DESTINATION</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GOTO_PERSONAL_DETAILS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Personal_screen</targetReference>
            </connector>
            <label>Change personal details</label>
        </rules>
        <rules>
            <name>Change_number_of_balls</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SELECTED_DESTINATION</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GOTO_NUMBER_OF_BALLS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Number_of_balls_screen</targetReference>
            </connector>
            <label>Change number of balls</label>
        </rules>
        <rules>
            <name>Change_start_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SELECTED_DESTINATION</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GOTO_DATE_TO_START</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>start_screen</targetReference>
            </connector>
            <label>Change start date</label>
        </rules>
        <rules>
            <name>Change_date_started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SELECTED_DESTINATION</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GOTO_DATE_STARTED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>started_screen</targetReference>
            </connector>
            <label>Change date started</label>
        </rules>
        <rules>
            <name>Change_impressive_trick</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SELECTED_DESTINATION</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GOTO_IMPRESSIVE_TRICK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>trick_screen</targetReference>
            </connector>
            <label>Change impressive trick</label>
        </rules>
    </decisions>
    <description>For export without actions.</description>
    <formulas>
        <name>Application_Description</name>
        <dataType>String</dataType>
        <expression>&quot;Application for &quot; + {!Full_Name}</expression>
    </formulas>
    <formulas>
        <name>date_started_converted2</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!date_started.formattedDate})</expression>
    </formulas>
    <formulas>
        <name>Date_to_start_converted2</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!date_to_start.formattedDate})</expression>
    </formulas>
    <formulas>
        <name>Full_Name</name>
        <dataType>String</dataType>
        <expression>{!Forename.value} + &quot; &quot; + {!Surname.value}</expression>
    </formulas>
    <interviewLabel>UXGOVUK Juggling License {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UXGOVUK Juggling License</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_application</name>
        <label>Create application</label>
        <locationX>821</locationX>
        <locationY>692</locationY>
        <connector>
            <targetReference>Application_created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>license_number_0</targetReference>
        </faultConnector>
        <inputReference>New_Application</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Application_created</name>
        <label>Application created</label>
        <locationX>1001</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>license_number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>license_number</name>
        <label>License number</label>
        <locationX>1225</locationX>
        <locationY>871</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finish_history</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>finish</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>license_txt</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h2 class=&apos;govuk-heading-l&apos;&gt;Your license details&lt;/h2&gt;  &lt;p class=&apos;govuk-body&apos;&gt;  You will receive a confirmation email with details of your license. If you need to contact us in the future, please reference your license number.&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>finish_panel</name>
            <extensionName>uxgovuk:govPanel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <stringValue>Application complete</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bodyText</name>
                <value>
                    <stringValue>Your application reference number is {!Application_created.Name}</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>finsih_nav</name>
            <extensionName>uxgovuk:govNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Finish</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Finish</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>license_number_0</name>
        <label>No License</label>
        <locationX>683</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finish_history_0</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>finish</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>fail_txt</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h2 class=&apos;govuk-heading-l&apos;&gt;Your application update&lt;/h2&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>warning</name>
            <extensionName>uxgovuk:govWarningText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>warningText</name>
                <value>
                    <stringValue>Your application has not been successful</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>fail_txt2</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>  &lt;p class=&apos;govuk-body&apos;&gt;We are unable to issue a license to you at this time.  We will contact you with an update within the next 28 hours.&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>finsih_nav_0</name>
            <extensionName>uxgovuk:govNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Finish</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Finish</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Number_of_balls_screen</name>
        <label>Number of balls</label>
        <locationX>437</locationX>
        <locationY>154</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Balls</targetReference>
        </connector>
        <fields>
            <name>personal_details_0</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>personal-details</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>personal_errors_0</name>
            <extensionName>uxgovuk:govErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>number_of_balls_back</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backLinkLabel</name>
                <value>
                    <stringValue>Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>balls_txt</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h2 class=&apos;govuk-heading-l&apos;&gt;How well can you juggle?&lt;/h2&gt; &lt;p class=&apos;govuk-body&apos;&gt;It is important that we know how well you can juggling. Please let us know how many balls you can currently juggle.&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Number_of_Balls</name>
            <extensionName>uxgovuk:govRadios</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>uniqueFieldId</name>
                <value>
                    <stringValue>Number_of_Balls</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>You must select one option</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionHint</name>
                <value>
                    <stringValue>Please select the number of balls you can currently juggle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionLabel</name>
                <value>
                    <stringValue>Number of Balls</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionFontSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioPicklistField</name>
                <value>
                    <stringValue>Application__c.Number_of_Balls__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredQuestion</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Personal_Nav_0</name>
            <extensionName>uxgovuk:govNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Personal_screen</name>
        <label>Personal details</label>
        <locationX>176</locationX>
        <locationY>221</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Personal_Details</targetReference>
        </connector>
        <fields>
            <name>personal_details</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>personal-details</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>personal_errors</name>
            <extensionName>uxgovuk:govErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>back_to_launch_page</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>destinationPageName</name>
                <value>
                    <stringValue>/apply</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>backLinkLabel</name>
                <value>
                    <stringValue>Back</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>personal_txt</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h2 class=&apos;govuk-heading-l&apos;&gt;Personal Details&lt;/h2&gt;  &lt;p class=&apos;govuk-body&apos;&gt;We will use your personal details to contact you about the progress of your juggling license application.  We do not share your information with any other individual or organisation.&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Forename</name>
            <extensionName>uxgovuk:govTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>Forename</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>You must enter a forename</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Forename</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Surname</name>
            <extensionName>uxgovuk:govTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>Surname</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>You must enter a surname</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Surname</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Small</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Email_Address</name>
            <extensionName>uxgovuk:govTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>Email_Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>You must enter a valid email address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regexPattern</name>
                <value>
                    <stringValue>^(.+)@(.+)$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Personal_Nav</name>
            <extensionName>uxgovuk:govNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>start_screen</name>
        <label>Date to start</label>
        <locationX>669</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Date_To_Start</targetReference>
        </connector>
        <fields>
            <name>Date_to_start_history</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>date-to-start-juggling</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>personal_errors_0_0_0_0</name>
            <extensionName>uxgovuk:govErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>date_to_start_back</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backLinkLabel</name>
                <value>
                    <stringValue>Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>start_txt</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h2 class=&apos;govuk-heading-l&apos;&gt;When are you planning to start juggling?&lt;/h2&gt; &lt;p class=&apos;govuk-body&apos;&gt;We are please to hear that you are interested in learning to juggle. When do you plan to start?&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>date_to_start</name>
            <extensionName>uxgovuk:govDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>date_to_start</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>When are you planning to start juggling?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Personal_Nav_0_0_0_0</name>
            <extensionName>uxgovuk:govNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>started_screen</name>
        <label>Date started</label>
        <locationX>773</locationX>
        <locationY>348</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Date_Started</targetReference>
        </connector>
        <fields>
            <name>Date_Started_history</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>date-started-juggling</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>personal_errors_0_0_0</name>
            <extensionName>uxgovuk:govErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>date_started_back</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backLinkLabel</name>
                <value>
                    <stringValue>Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>started_txt</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h2 class=&apos;govuk-heading-l&apos;&gt;When did you start juggling?&lt;/h2&gt; &lt;p class=&apos;govuk-body&apos;&gt;It is great that you can already juggle. When did you start.&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>date_started</name>
            <extensionName>uxgovuk:govDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>date_started</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>When did you start juggling?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Personal_Nav_0_0_0</name>
            <extensionName>uxgovuk:govNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>summary</name>
        <label>summary</label>
        <locationX>1402</locationX>
        <locationY>698</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Change</targetReference>
        </connector>
        <fields>
            <name>Summary_history</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>summary</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>summary_list</name>
            <extensionName>uxgovuk:govSummary</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>instructionsHTML</name>
                <value>
                    <stringValue>&lt;h2 class=&quot;govuk-heading-m&quot;&gt;Check your answers&lt;/h2&gt; &lt;p class=&quot;govuk-body&quot; style=&quot;padding-bottom:20px;&quot;&gt;Thank you for all the information. Please check your answers and     click the change link if the information is not correct. Click submit to create your juggling application.&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sectionName</name>
                <value>
                    <stringValue>Juggling application</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Complete your application</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>confirmationDestinations</name>
                <value>
                    <elementReference>Destinations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>confirmationLabels</name>
                <value>
                    <elementReference>Labels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>confirmationValues</name>
                <value>
                    <elementReference>Values</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SELECTED_DESTINATION</assignToReference>
                <name>destination</name>
            </outputParameters>
        </fields>
        <fields>
            <name>summary_nav</name>
            <extensionName>uxgovuk:govNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>trick_screen</name>
        <label>trick</label>
        <locationX>1042</locationX>
        <locationY>463</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_trick</targetReference>
        </connector>
        <fields>
            <name>personal_details_0_0</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>personal-details</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>personal_errors_0_0</name>
            <extensionName>uxgovuk:govErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>trick_history</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backLinkLabel</name>
                <value>
                    <stringValue>Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>trick_txt</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h2 class=&apos;govuk-heading-l&apos;&gt;Most impressive trick&lt;/h2&gt; &lt;p class=&apos;govuk-body&apos;&gt;Please let us know what your most impressive jugging trick is.&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>impressive_trick</name>
            <extensionName>uxgovuk:govTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>impressive_trick</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Impressive trick</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>250.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCharacterCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hint</name>
                <value>
                    <stringValue>Describe your trick in no more than 250 characters.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter no more than 250 characters</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Personal_Nav_0_0</name>
            <extensionName>uxgovuk:govNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Personal_screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Destinations</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Labels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>SELECTED_DESTINATION</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Values</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
